
* {
    
    font-family:monospace;
    box-sizing: border-box; 

    body {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
        background-color: #5bb3e967;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.09)), url('./body-background.jpg');
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
        background-attachment: fixed; 
    }
    

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: solid 10px #1F3B4D;
    margin: 30px auto;
    font-size: 3rem;
    flex-wrap: wrap;
    white-space: normal;
    background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.153)), url('./minesweeper-title-background.jpg!qt_h320_webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(243, 238, 238, 0.714);
}

#select-difficulty {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #e2e8ec;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(14, 13, 13, 0.714);
}

#dropdownbox, #startbtn {
    border-radius: 8px;
    height: 40px;
    font-size: 1.2rem;
}

#dropdownbox {
    width: 180px;
    border-radius: 8px;
    text-align: center;
    height: 35px;
    font-size: 1.4rem;
    background-color: #ebdddd;
    border: 2px solid #1F3B4D;
    color: #1F3B4D;
}

#startbtn {
    width: 120px;
    color: #FFFFFF;
    background: linear-gradient(45deg, #FF6F61, #FF8E71);
    border: none;
    cursor: pointer;
    margin-left: auto;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    
}

#startbtn:hover {
    background: linear-gradient(45deg, #FF8E71, #FF6F61);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.30);
}

#startbtn:active {
    transform: scale(0.70);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

}


#score-area {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 10px;
}

#score-area p {
    flex: 1;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 2px solid #1F3B4D;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

#score-area p:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#time {
    color: #007bff;
    text-align: left;
    background: linear-gradient(45deg, #007bff, #00bfff);
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-family: monospace;
}

#score {
    color: #28a745;
    background: linear-gradient(45deg, #28a745, #5cb85c);
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-family: monospace;
    
}

#mine-left {
    color: #dc3545;
    text-align: right;
    background: linear-gradient(45deg, #dc3545, #ff6f61);
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-family: monospace;
}



@media (max-width: 768px) {
    #score-area {
        flex-direction: column;
        align-items: stretch;
    }

    #select-difficulty {
        flex-direction: column;
        align-items: stretch;
    }

    #dropdownbox, #startbtn {
        width: 100%;
    }
}